<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add User Documents</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="all,follow">
        <!-- Google fonts - Poppins -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
        <!-- Choices CSS-->
        <link rel="stylesheet" href="{% static 'info/CSS/choices.min.css' %}">
        <!-- theme stylesheet-->
        <link rel="stylesheet" href="{% static 'info/CSS/style.default.css' %}" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="{% static 'info/CSS/custom.css' %}">
        <!-- Favicon-->
        <link rel="shortcut icon" href="static/info/images/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="{% static 'info/JS/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'info/JS/Chart.min.js' %}"></script>
        <script src="{% static 'info/JS/just-validate.min.js' %}"></script>
        <script src="{% static 'info/JS/choices.min.js' %}"></script>
        <script src="{% static 'info/JS/charts-home.js' %}"></script>
        <!-- Main File-->
        <script src="{% static 'info/JS/front.js' %}"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    </head>
    <body>
        <header class="header z-index-50">
            <nav class="nav navbar py-3 px-0 shadow-sm text-white position-relative">
              <!-- Search Box-->
              <div class="search-box shadow-sm">
                <button class="dismiss d-flex align-items-center">
                  <svg class="svg-icon svg-icon-heavy">
                    <use xlink:href="#close-1"> </use>
                  </svg>
                </button>
                <form id="searchForm" action="#" role="search">
                  <input class="form-control shadow-0" type="text" placeholder="What are you looking for...">
                </form>
              </div>
              <div class="container-fluid w-100">
                <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
                  <!-- Navbar Header-->
                  <div class="navbar-header">
                    <!-- Navbar Brand --><a class="navbar-brand d-none d-sm-inline-block" href="index.html">
                      <div class="brand-text d-none d-lg-inline-block"><span>Treeleaf Technology </span>
                <center> <p class="text-sm text-gray-500 fw-light mb-0 lh-1">IT Company</p></center>
  
                        {% comment %} <strong>Dashboard</strong> {% endcomment %}
                      </div>
                      <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div></a>
                    <!-- Toggle Button--><a class="menu-btn active" id="toggle-btn" href="#"><span></span><span></span><span></span></a>
                  </div>
                  <!-- Navbar Menu -->
                  <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                    <!-- Search-->
                    <li class="nav-item d-flex align-items-center"><a id="search" href="#">
                        <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                          <use xlink:href="#find-1"> </use>
                        </svg></a></li>
                    <!-- Notifications-->
                    <li class="nav-item dropdown"> <a class="nav-link text-white" id="notifications" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                          <use xlink:href="#chart-1"> </use>
                        </svg><span class="badge bg-red badge-corner fw-normal">12</span></a>
                      <ul class="dropdown-menu dropdown-menu-end mt-3 shadow-sm" aria-labelledby="notifications">
                        <li><a class="dropdown-item py-3" href="#"> 
                            <div class="d-flex">
                              <div class="icon icon-sm bg-blue">
                                <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                                  <use xlink:href="#envelope-1"> </use>
                                </svg>
                              </div>
                              <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-xs text-gray-600">You have 6 new messages </span><small class="small text-gray-600">4 minutes ago</small></div>
                            </div></a></li>
                        <li><a class="dropdown-item py-3" href="#"> 
                            <div class="d-flex">
                              <div class="icon icon-sm bg-green">
                                <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                                  <use xlink:href="#chats-1"> </use>
                                </svg>
                              </div>
                              <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-xs text-gray-600">New 2 WhatsApp messages</span><small class="small text-gray-600">4 minutes ago</small></div>
                            </div></a></li>
                        <li><a class="dropdown-item py-3" href="#"> 
                            <div class="d-flex">
                              <div class="icon icon-sm bg-orange">
                                <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                                  <use xlink:href="#checked-window-1"> </use>
                                </svg>
                              </div>
                              <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-xs text-gray-600">Server Rebooted</span><small class="small text-gray-600">8 minutes ago</small></div>
                            </div></a></li>
                        <li><a class="dropdown-item py-3" href="#"> 
                            <div class="d-flex">
                              <div class="icon icon-sm bg-green">
                                <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                                  <use xlink:href="#chats-1"> </use>
                                </svg>
                              </div>
                              <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-xs text-gray-600">New 2 WhatsApp messages</span><small class="small text-gray-600">10 minutes ago</small></div>
                            </div></a></li>
                        <li><a class="dropdown-item all-notifications text-center" href="#"> <strong class="text-xs text-gray-600">view all notifications                                            </strong></a></li>
                      </ul>
                    </li>
                    <!-- Messages-->
                    <li class="nav-item dropdown"> <a class="nav-link text-white" id="messages" rel="nofollow" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                          <use xlink:href="#envelope-1"> </use>
                        </svg><span class="badge bg-orange badge-corner fw-normal">10</span></a>
                      <ul class="dropdown-menu dropdown-menu-end mt-3 shadow-sm" aria-labelledby="messages">
                        <li><a class="dropdown-item d-flex py-3" href="#"> <img class="img-fluid rounded-circle" src="{% static 'info/images/avatar-1.jpg' %}" alt="..." width="45">
                            <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-sm text-gray-600">Jason Doe</span><small class="small text-gray-600"> Sent You Message</small></div></a></li>
                        <li><a class="dropdown-item d-flex py-3" href="#"> <img class="img-fluid rounded-circle" src="{% static 'info/images/avatar-2.jpg' %}" alt="..." width="45">
                            <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-sm text-gray-600">Jason Doe</span><small class="small text-gray-600"> Sent You Message</small></div></a></li>
                        <li><a class="dropdown-item d-flex py-3" href="#"> <img class="img-fluid rounded-circle" src="{% static 'info/images/avatar-3.jpg' %}" alt="..." width="45">
                            <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-sm text-gray-600">Jason Doe</span><small class="small text-gray-600"> Sent You Message</small></div></a></li>
                        <li><a class="dropdown-item text-center" href="#"> <strong class="text-xs text-gray-600">Read all messages   </strong></a></li>
                      </ul>
                    </li>
                    
                    {% if request.user.is_active %}
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'userlogout' %}"> <span class="d-none d-sm-inline">Logout</span>
                        <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                          <use xlink:href="#security-1"> </use>
                        </svg></a>
                      </li>
                        {% endif %}
                      
                  </ul>
                </div>
              </div>
            </nav>
          </header>
      
    <div class="page">
        <div class="page-content d-flex align-items-stretch"> 
            <nav class="side-navbar z-index-40">
               
                <div class="sidebar-header d-flex align-items-center py-4 px-3"><img class="avatar shadow-0 img-fluid rounded-circle" src="{% static 'info/images/treeleaf.jpg' %}" alt="...">
                </div>
                <ul class="list-unstyled py-4">
                  
                    <li class="sidebar-item"><a class="sidebar-link" href="{% url 'dashboard'%}"> 
                        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                            <use xlink:href="#real-estate-1"> </use>
                        </svg>Home</a>
                    </li>
                    <li class="sidebar-link active" href="#exampledropdownDropdown" data-bs-toggle="collapse">
                        <a onclick="userclick()" class="sidebar-item" style="cursor:pointer;">
                            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                                <use xlink:href="#portfolio-grid-1"></use>
                            </svg>User</a></li>
                            <ul class="collapse list-unstyled" id="exampledropdownDropdown">
                                <li style="padding-left:50px;background: #EEF5F9;"><a class="sidebar-link active" href="{% url 'signupdashboard' %}">Add User</a>
                                </li>
                                <li style="padding-left:50px;background: #EEF5F9;"><a class="sidebar-link" href="{% url 'usertable' %}">User</a></li>
                            </ul>
                    </li> 
                    <li class="sidebar-item"><a class="sidebar-link" href="{% url 'userdocs' %}"> <span class="material-symbols-outlined">description</span>User Docs</a>
                    </li>
                    {% if request.user.is_active%}
                    <li class="sidebar-item"><a class="sidebar-link" href="{% url 'userlogout' %}"> 
                        <span class="material-symbols-outlined">logout</span>
                        {{request.user.username}}</a>
                    </li>
                    {% endif %}
               
                </ul>
            </nav>
            <div class="content" style="background:white;width:100%;">               
                    <header class="bg-white shadow-sm px-4 py-3 z-index-20">
                        <div class="container-fluid px-0">
                         <h2 class="mb-0 p-1">Add User Document</h2>
                       </div> 
                    </header> 
                  
                     <div class="bg-white">
                        <div class="container-fluid">
                          <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 py-3" style="background-color:white;">
                              <li class="breadcrumb-item"><a class="fw-light ft" href="{% url 'userdocs' %}">User Documents</a></li>
                              <li class="breadcrumb-item active fw-light" aria-current="page">Form</li>
                            </ol>
                          </nav>
                        </div>
                      </div> 


                      
                                        <div style="width: 70%;margin-left:auto;margin-right:auto; margin-top:20px;padding: 20px;border: 1px solid black;margin-bottom:20px">
                            {% comment %} <form method="POST"> {% endcomment %}
                                <form method="POST" enctype="multipart/form-data">

                                {% csrf_token %}
                               
                                        <br>
                                <label class="form-label">Image URL</label>
                                {{form.docs_image_url}}
                                <span style="color:red;font-size:10px;"> {{form.docs_image_url.errors|striptags}}</span>

                                <br><br>
                               <label class="form-label">Bbox</label>
                                {{form.bbox}}
                                <span style="color:red;font-size:10px;"> {{form.bbox.errors|striptags}}</span>

                                <br><br>


                                <label class="form-label">Document Type</label>
                                {{form.doc_type}}
                                <span style="color:red;font-size:10px;"> {{form.doc_type.errors|striptags}}</span>
                                <div><button class="btn btn-primary" style="float:right;" type="submit">Add</button></div>

                                
                                <canvas id="myCanvas">
                                </canvas> 
                               
                            </form>

                        </div>

                       
                </div>
    <script>
        var canvas = document.getElementById('myCanvas');
        var ctx = canvas.getContext('2d');
        var imageUrlInput; 
        var uploadInput = document.getElementById('imageUrlInput');
        var canvas = document.getElementById("myCanvas");
        var image = new Image();
        var isDrawing = false;
        var startX, startY, endX, endY;
        uploadInput.addEventListener('change', function(event) {
            var file = event.target.files[0];
            imageUrlInput = URL.createObjectURL(file);;
            console.log('Uploaded file URL:', imageUrlInput);
            image.onload = function() {
                canvas.width = image.width;
                canvas.height = image.height;
                ctx.drawImage(image, 0, 0);
            };
            image.src = imageUrlInput;
            });
        canvas.addEventListener('mousedown', function(event) {
            isDrawing = true;
            var rect = canvas.getBoundingClientRect();
            startX = event.clientX - rect.left;
            console.log(event.clientX);
            console.log(rect.left);
            startY = event.clientY - rect.top;
            console.log("ffffff");
            console.log(event.clientY);
            console.log(rect.top);
    
            });
        
        canvas.addEventListener('mousemove', drawRectangle);
          function drawRectangle(event) {
            if (isDrawing) {
              var rect = canvas.getBoundingClientRect();
              endX = event.clientX - rect.left;
              endY = event.clientY - rect.top;
              console.log(event.clientX);
              console.log(rect.left);
              ctx.clearRect(0, 0, canvas.width, canvas.height);
              ctx.drawImage(image, 0, 0);
              ctx.beginPath();
              ctx.rect(startX, startY, endX - startX, endY - startY);
              ctx.stroke();
              ctx.closePath();
            }
          }

        
        
        
        
        canvas.addEventListener('mouseup', function(event) {

            isDrawing = false;
            var rectX = Math.min(startX, endX);
            var rectY = Math.min(startY, endY);
            var rectWidth = Math.abs(endX - startX);
            var rectHeight = Math.abs(endY - startY);
            var rect = {

                x: rectX,
                y: rectY,
                width: rectWidth,
                height: rectHeight
                };
            console.log(rect, 'rect');
            rect_coordinate=[rectX,rectY,rectWidth,rectHeight];
            a=document.getElementById('bbox_coordinate');
            a.value=rect_coordinate;
            });






        var c = document.getElementById("myCanvass");
        var ctxx = c.getContext("2d");
        ctxx.beginPath();
        ctxx.rect(22.33331298828125,16.822906494140625,129,129);
        ctxx.stroke();

          
        {% comment %} }); {% endcomment %}
        function injectSvgSprite(path) {
            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
                var div = document.createElement("div");
                div.className = 'd-none';
                div.innerHTML = ajax.responseText;
                document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </body>
</html>
                    

      