{% extends 'info/base.html' %}
{% load static %}
{% block title%}
Dashboard
{% endblock title%}
{% block content %} 
    <div class="page">

      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav class="side-navbar z-index-40">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center py-4 px-3"><img class="avatar shadow-0 img-fluid rounded-circle" src="{% static 'info/images/treeleaf.jpg' %}" alt="...">
            {% comment %} <div class="ms-3 title">
              <center><h1 class="h4 mb-2" style="font-size:large;">Treeleaf Technology</h1></center>
              <center> <p class="text-sm text-gray-500 fw-light mb-0 lh-1">IT Company</p></center>
            </div> {% endcomment %}
          </div>
          {% comment %} <!-- Sidebar Navidation Menus--><span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Main</span> {% endcomment %}
          <ul class="list-unstyled py-4">
            <li class="sidebar-item"><a class="sidebar-link" href="{% url 'dashboard'%}"> 
                <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                  <use xlink:href="#real-estate-1"> </use>
                </svg>Home </a></li>

                
                  <li class="sidebar-link" href="#exampledropdownDropdown" data-bs-toggle="collapse">
                    <a href="{% url 'usertable'%}" class="sidebar-item" style="cursor:pointer;">
                    <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                      <use xlink:href="#portfolio-grid-1"></use>
                    </svg>User</a>
                  </li>
                    <ul class="collapse list-unstyled" id="exampledropdownDropdown">
                      <li style="padding-left:50px;background: #EEF5F9;"><a class="sidebar-link" href="{% url 'signupdashboard' %}">Add User</a></li>
              <li style="padding-left:50px;background: #EEF5F9;"><a class="sidebar-link" href="{% url 'usertable' %}">User</a></li>

                    </ul>
                  </li> 

                   {% comment %} user docs {% endcomment %}
          <li class="sidebar-item"><a class="sidebar-link" href="{% url 'userdocs' %}"> 
            <span class="material-symbols-outlined">
              description
              </span>User Docs</a>
          </li>
{% comment %} logout {% endcomment %}
                {% comment %} </li> {% endcomment %}
                {% if request.user.is_active%}
                <li class="sidebar-item"><a class="sidebar-link" href="{% url 'userlogout' %}"> 
                    <span class="material-symbols-outlined">
                      logout
                      </span> {{request.user.username}}</a>
                  </li>
                  {% endif %}
            
          </ul>
         
        </nav>
        <div class="content-inner w-100">
          <!-- Page Header-->
          <header class="bg-white shadow-sm px-4 py-3 z-index-20">
            <div class="container-fluid px-0">
              <h2 class="mb-0 p-1">Tables</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="bg-white">
            <div class="container-fluid">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 py-3" style="background-color:white;">
                  <li class="breadcrumb-item"><a class="fw-light ft" href="{% url 'dashboard'%}">Home</a></li>
                  <li class="breadcrumb-item active fw-light" aria-current="page">User</li> 
                </ol>
               </nav>
            </div>
          </div>
          {% comment %} from here {% endcomment %}
          {% comment %} <center><div class="img"> {% endcomment %}
           <div class="img" >
          {% for image in image%}
          <img src="/media/profile_pic/{{user.id}}/{{image}}" width="100px" style="margin-left:10px;">
          {% endfor %}
        </div>



        {% comment %} web {% endcomment %}
        <form method="POST">
            {% csrf_token %}
            <br><br>
            <div class="whole" style='width:65%;margin-left:auto;margin-right:auto;'>
            <div class="card">
                <center><h5 class="card-header">Update Image</h5></center>
                <div class="card-body">
                  <h5 class="card-title"></h5> 
                  <center><p class="card-text">Click the button below to click image</p></center><br> 
            <div class="container-fluid">
              
               <center>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Capture Image</button>
                  </center>
                  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">                  
                    <div class="new">     
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" style="text-align:center; margin-left:auto;"  id="exampleModalLongTitle">Capture Image</h5>
                          <button type="button" onclick="vidOff()" class="close" data-dismiss="modal" aria-label="Close">
                            <span  aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                           <div id='results'>
                           <div>
                                  <video autoplay></video><br><br>
                                  <center><button id='getUserMediaButton' type="button" class="btn btn-primary" onclick="onGetUserMediaButtonClick()">Start Camera</button></center>
                                  <button type="button" id='takePhotoButton' onclick="onTakePhotoButtonClick()" class="btn btn-primary" style="display:none;margin-left:auto;margin-right:auto;" disabled>Take Photo</button>
                                </div>
                                <br>
                                <div>
                                  <canvas id='takePhotoCanvas'></canvas>
                                </div>
                              </div>
                              <div id="imgElement" style='margin-top: -70px;'><br><br>
                              </div>
                        <div class="modal-footer">
                          <button type="button"  class="btn btn-primary" data-dismiss="modal" onclick="save()">OK</button>
                          <button type="button"  class="btn btn-primary" data-dismiss="modal" onclick="cancel()">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                        </div>
                    </div>
                    <div class="col-sm-6 offset-sm-3">
                        <br>
                    <div style="display:none;border:0px;" id="imageName" class="imageNameClass"></div>
                    <div style="border:0px;display:none;" id="base64name"></div>
                    <input style="border:0px;display:none;" id="totalimage" name="totalimage">
                    <input style="border:0px;" id="totalimages" name="totalimages">
                </div>
                </div>
              </div>              
            </div>
        <button type="submit" class="btn btn-primary" style="float:right;" onclick="total_num_img()">Update
            {% comment %} <a style="color:white;text-decoration:none;" href="#">Add</a> {% endcomment %}
        </button>
            </div>
        </form>


        {% comment %} upto here {% endcomment %}

          
                      {% comment %} </div>
                    </div>
                  </div>
                </div> {% endcomment %}
               
    <!-- JavaScript files-->
    
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // this is set to BootstrapTemple website as you cannot 
      // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
      // while using file:// protocol
      // pls don't forget to change to your domain :)
      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 

      function userclick(){
          var link = "http://127.0.0.1:8000/usertable/";
          window.location.href = link;
      } 








      function onGetUserMediaButtonClick() {
        navigator.mediaDevices.getUserMedia({video: true})
        .then(mediaStream => {
            document.querySelector('video').srcObject = mediaStream;
            const track = mediaStream.getVideoTracks()[0];
            imageCapture = new ImageCapture(track);
            document.getElementById("getUserMediaButton").style.display = "none";
            document.getElementById("takePhotoButton").style.display = "block";
        })
        .catch(error => ChromeSamples.log(error)); 
        } 
    
        {% comment %} {% comment %} $('#exampleModalCenter').on('hide.bs.modal', function (e) {
            Webcam.reset();
        }); {% endcomment %}
    
            function onTakePhotoButtonClick() {
                var blob = imageCapture.takePhoto()
                .then(blob =>  createImageBitmap(blob)) 
                .then(imageBitmap => {
                  const canvas = document.querySelector('#takePhotoCanvas');
                  drawCanvas(canvas, imageBitmap);
                  console.log(imageBitmap);       
                  console.log(canvas);
                })
                .catch(error => ChromeSamples.log(error));  
                }  
            
    
            function drawCanvas(canvas, img) {
              var counter =  document.getElementById('imgElement').childElementCount;
              console.log(counter);
    
              canvas.width = getComputedStyle(canvas).width.split('px')[0];
              canvas.height = getComputedStyle(canvas).height.split('px')[0];
              let ratio  = Math.min(canvas.width / img.width, canvas.height / img.height);
              let x = (canvas.width - img.width * ratio) / 2;
              let y = (canvas.height - img.height * ratio) / 2;
              canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
              canvas.getContext('2d').drawImage(img, 0, 0, img.width, img.height,
                  x, y, img.width * ratio, img.height * ratio);    
              var imagetobase64 = canvas.toDataURL();
              console.log(imagetobase64);
    
    
    
              var imgElem = new Image()
              imgElem.src = imagetobase64;
              {% comment %} imgElem.width = 130;  {% endcomment %}
              imgElem.classList.add('commonclass');
    
              
              imgElem.id="commonid" 
    
    
    
             
    
    
    
              // Set a name for the image
              const date = new Date();
              imgElem.name = "image_" + date.getTime();
              <!-- imgElem.setAttribute('src',imagetobase64); -->
    
    
              const handleRemove = e => {
                const item = e.target.closest('.item');
                item.querySelector('.remove-sign')
                .removeEventListener('click', handleRemove);
                item.parentElement.removeChild(item);
              };
    
    {% comment %} cross sign image {% endcomment %}
              var cross = new Image();
              cross.width=10;
              cross.height=10;
    
              {% comment %} cross.classList.add('cross-sign'); {% endcomment %}
    
    
              imgsrc='https://thumbs.dreamstime.com/b/x-red-mark-cross-sign-graphic-symbol-crossed-brush-strokes-red-mark-cross-sign-graphic-symbol-154904211.jpg';
              cross.setAttribute('src',imgsrc);
              imgElem.append(cross);
    
    
    {% comment %} image appending to item div which is inside imgElement div {% endcomment %}
              const item = document.createElement('div');
              item.classList.add('item');
              cross.classList.add('remove-sign');
              
              cross.addEventListener('click', handleRemove); 
              item.append(imgElem);
              item.append(cross);
               document.getElementById('imgElement').appendChild(item);
    {% comment %} here i am {% endcomment %}
            }
            document.querySelector('video').addEventListener('play', function() {
              document.querySelector('#takePhotoButton').disabled = false;
            });
    
    
    
    
            {% comment %}function of save button {% endcomment %}
    
            function save() {
                var counter =  document.getElementById('imgElement').childElementCount;
                document.getElementById('totalimage').value = counter;
                console.log("counter");
                console.log(counter);
                console.log("counter");
    
            const canvas = document.querySelector('#takePhotoCanvas');
            var imagetobase64 = canvas.toDataURL();
    
            {% comment %} i am hereeeeeeeeeeeeee {% endcomment %}
    
    
            const imgElements = document.getElementsByClassName("commonclass");
            {% comment %} const imgElements = document.getElementsByClassName("commonclass"); {% endcomment %}
            const imgCount = imgElements.length;
            console.log(imgCount);
            const imageName = document.getElementById("imageName");
            for (let i = 0; i < imgCount; i++) {
                var x = document.createElement("input");
                x.setAttribute("id",i);
                x.setAttribute("name",i);
                x.setAttribute("value", imagetobase64);
                document.getElementById('base64name').appendChild(x); 
                var imgElem = new Image()
                imgElem.src = imgElements[i].src;
                imgElem.classList.add('img_eleclass');
                imgElem.name ='name';
                {% comment %} imgElem.width=130; {% endcomment %}
                {% comment %} document.getElementById('imageName').appendChild(imgElem); {% endcomment %}
    
    
    
    
    
    
    
                const Removebuttondisplay = e => {
                const item_front = e.target.closest('.item_front');
                item_front.querySelector('.display_cross')
                .removeEventListener('click', Removebuttondisplay);
                item_front.parentElement.removeChild(item_front);
              };
    
    
    {% comment %} div for front cross sign {% endcomment %}
            {% comment %} const imgElements = document.getElementsByTagName("img"); {% endcomment %}
            const imgElement = document.getElementsByClassName("remove-sign");
            const imgCounts = imgElement.length;
            console.log('length of cross sign');
            console.log(imgCounts);
    
            var cross = new Image();
            const items = document.createElement('div');
            items.classList.add('item_front');
            cross.width=10;
            cross.height=10;
            cross.classList.add('display_cross');
            imgsrc='https://thumbs.dreamstime.com/b/x-red-mark-cross-sign-graphic-symbol-crossed-brush-strokes-red-mark-cross-sign-graphic-symbol-154904211.jpg';
            cross.setAttribute('src',imgsrc);
            cross.addEventListener('click', Removebuttondisplay); 
            items.append(imgElem);
            items.append(cross);
            document.getElementById('imageName').appendChild(items);
        }
    
    
    
    
    
            {% comment %} this will stop camera after clicking ok button {% endcomment %}
            document.querySelector('video').srcObject.getTracks().forEach(track => track.stop());
            document.getElementById("getUserMediaButton").style.display = "block";
            document.getElementById("takePhotoButton").style.display = "none";
            document.getElementById("imageName").style.display='inline-block';
           
    
    
    {% comment %} it will stop camera after image capture and save button is clicked {% endcomment %}
                {% comment %} const video = document.querySelector('video');
                const mediaStream = video.srcObject;
                const tracks = mediaStream.getTracks(); 
                tracks[0].stop(); {% endcomment %}
            }
    
            {% comment %} for x of modal to stop camera {% endcomment %}
            function vidOff() {
                const video = document.querySelector('video');
    
                // A video's MediaStream object is available through its srcObject attribute
                const mediaStream = video.srcObject;
    
                // Through the MediaStream, you can get the MediaStreamTracks with getTracks():
                const tracks = mediaStream.getTracks();
    
                // Tracks are returned as an array, so if you know you only have one, you can stop it with: 
                tracks[0].stop();
    
            };
    
    
    
    
    
    
    {% comment %} to erase previously capture image from webcam {% endcomment %}
              function eraseImg(){
                {% comment %} var images_main = document.getElementsByClassName('img_eleclass');
                var img_main_length = images_main.length;
                console.log(img_main_length); {% endcomment %}
    
    
                var images = document.getElementsByClassName('item');
                var base64_storage = document.getElementById('base64name');
                var img_length = images.length;
                console.log(img_length);
                for (var i = 0; i < img_length; i++) {
                    images[0].parentNode.removeChild(images[0]);
                }   
    
    
                {% comment %} for (var j = 0; j < img_main_length; j++) {
                    images_main[0].remove(images_main[0]);
                } 
                 {% endcomment %}
                
              }
    
              function cancel(){
                document.querySelector('video').srcObject.getTracks().forEach(track => track.stop());
                document.getElementById("getUserMediaButton").style.display = "block";
                document.getElementById("takePhotoButton").style.display = "none";
                document.getElementById("imageName").style.display='block';
              }
             
    
    
              function total_num_img(){
                var counter =  document.getElementById('imageName').childElementCount;
                document.getElementById('totalimage').value = counter;
                console.log("counter");
                console.log(counter);
                console.log("counter");
    
                
              }

  
      
      
    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock content%}